@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@font-face{
   font-family:back way ;src: url('FONTE/Black\ Way\ -\ Personal\ Use.otf');
   font-family:  hurric; src: url('FONTE/Hurricane-Regular.ttf');
}  
:root{
--fonte1:'Shadows Into Light', cursive;
   --fonte2:'Great Vibes', cursive;
   --fonte3:verdana, geneva, tahoma, sans-serif;
   --fonte4:'Use.otf';
   --fonte5:'Hurricane-Regular.ttf';
    --Khaki:#F0E68C, bege;
    --Yellow:#FFFF00, amarelo;
    --Gold:#FFD700,ouro;
    --LimeGreen:#32CD32, verde medio;
    --LightGreen:#90EE90;
    --MidnightBlue:#191970;
    --DimGray:#696969;
    --Black:#000000;

}
body{
   background-image:radial-gradient(#F0E68C, #FFFF00, #90EE90);
   
}
main{
   background-color: antiquewhite;
   padding-left: 5px; margin: auto;border-radius: 10px;max-width: 800px;
  
}
header > h1{
   font-family:var(--fonte3) ;background-color: #32CD32;padding: 10px;
   margin-bottom: 0px;border-radius: 10px 10px 0px 0px;margin-left: -4px; 
   font-variant: small-caps;
}
header > h2{
   background-color: #90EE90;margin-top: 0px; border-radius: 0px 0px 10px 10px;
   margin-left: -4px;padding: 10px; margin-bottom: 0px;text-align: center;
}
article > h2{
text-align: center;
}
h2{
   text-align: center;font-weight: bolder;font-size: 2em;
}
nav{
   background-color: #FFD700;padding: 10px;margin-top: 1px;
   margin-left: 5%;border-radius:10px 10px 10px 10px;width: 40%;margin-bottom: 1%;
   height: auto;font-variant: small-caps;display: block;float: left;
}
li{
   padding: 3px;
}
h3{
   margin-left: 27px;
}
a{
 background-color: #696969; border-radius: 10px;margin: 2px;
 padding: 0.5%; color: #F0E68C;font-weight: bold;text-decoration: none;
}
a:hover{
   text-decoration: underline;color: #32CD32;
}
aside{
   background-color: aquamarine;margin-top: 1%;margin-bottom: 6px;margin-left: -5px;
   padding: 4px;border-radius: 10px;clear: both;
}
p{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 15px 0px;text-align: justify;text-indent: 20px;font-size: 1em;
   line-height: 1.3em;
}

img{
   width: 48%;border-radius:10px;

}

div.index1{
 width: 48%;display: block;float: right;
}
 body{
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      table{
         border-collapse: collapse;
      }
      caption{
         font-size: 1.3em;
         font-weight: bolder;
         padding: 10px;
      }
      th, td{
         border: 1px solid rgb(22, 14, 139);
         padding: 10px;
      }